include *.txt
include *.rst
include *.py
include *.ini
include *.sh
include .gitreview
include MANIFEST.in
include pylint.conf
exclude docs/conf.py
recursive-include tldap *.py *.schema
recursive-include docs Makefile *.py *.rst *.inv
recursive-exclude docs/_build *
