Source: django-tldap
Section: python
Priority: optional
Maintainer: Brian May <bam@debian.org>
Build-Depends: debhelper (>=7.0.0), python (>= 2.6.6-3), cdbs (>= 0.4.90)
Standards-Version: 3.9.3
X-Python-Version: >= 2.6

Package: django-tldap
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python-django (>= 1.2.1)
Description: High level python LDAP Library
 TLDAP is a high level LDAP library for Python that users django-db like models
 to define LDAP schemas that can then be used in an easy way from Python code.
 It also supports fake LDAP transactions, to try and ensure LDAP database
 remains in a consistent state, even if there are errors that cause the
 transaction to fail.
