#!/usr/bin/make -f
# -*- makefile -*-

export PYBUILD_NAME=tldap

%:
	dh $@ --with sphinxdoc,python2,python3 --buildsystem=pybuild

.PHONY: override_dh_auto_build
override_dh_auto_build:
	PYTHONPATH=. sphinx-build -b html -d docs/.build/.doctrees -N docs docs/.build/html
	dh_auto_build

.PHONY: override_dh_clean
override_dh_clean:
	dh_clean
	rm -rf docs/.build docs/_build

# Required for squeeze/python3.2 compatability.
# "python3 setup.py test" doesn't work with python3.2
.PHONY: override_dh_auto_test
override_dh_auto_test:
	./run_tests.sh
