#!/usr/bin/make -f
# -*- makefile -*-

DEB_UPSTREAM_VERSION ?= $(shell dpkg-parsechangelog | sed -rne 's/^Version: ([0-9.]+)[-+].*$$/\1/p')

export PYBUILD_NAME=tldap

%:
	dh $@ --with sphinxdoc,python2,python3 --buildsystem=pybuild

.PHONY: override_dh_auto_build
override_dh_auto_build:
	# Kludge for Jessie
	if [ ! -f tldap/version.py ]; then \
	    echo "version = '$(DEB_UPSTREAM_VERSION)'" > tldap/version.py; \
	fi
	PYTHONPATH=. sphinx-build -b html -d docs/.build/.doctrees -N docs docs/.build/html
	dh_auto_build

.PHONY: override_dh_clean
override_dh_clean:
	dh_clean
	rm -rf docs/.build docs/_build

.PHONY: override_dh_auto_test
override_dh_auto_test:
	dh_auto_test -- --system=custom --test-args="{interpreter} setup.py test"
